---
export interface Props {
    link: string;
    label: string;
}
const{
    link="",
    label="*No Label*",
} = Astro.props as Props;
---
<a href={link} target="_blank">
    <button class="header-navigation-button">{label}</button>
</a>

<style>
        .header-navigation-button{  
            font-weight: 600;
            background-color: #ff869d;
            color: #333;
            border: none;
            border-radius: 100px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .header-navigation-button:hover{
            background-color: #f7a3b3;
            color: #111;
        }
        a{
            margin: 0 10px;
            width: max-content;
            font-size: 22px;
            text-decoration: none;
            transition: .25s ease-out;
        }
</style>