<div class="design-container">
    <span id="line-1"></span>
    <span id="line-2"></span>
    <span id="line-3"></span>
    <span id="line-4"></span>
    <span id="line-5"></span>
    <span id="line-6"></span>
</div>

<style>
    
</style>