---
import Layout from '../layouts/Layout.astro';
import HeaderLayout from './home/header/HeaderLayout.astro';
import BodyLayout from './home/body/BodyLayout.astro';
---

<Layout title="Tasteful Messages">
	<div class="site-container">
		<HeaderLayout />
		<BodyLayout />
	</div>
</Layout>

<style>
	.site-container{
		grid-column: 2 / span 1;
		display: grid;
        grid-template-rows: 10vh 50px 1fr;
	}
</style>