---
export interface Props {
    link: string;
    label: string;
}
const{
    link="",
    label="*No Label*",
} = Astro.props as Props;
---
<a href={link} target="_blank">
    <button class="header-navigation-button">{label}</button>
</a>

<style>
        .header-navigation-button{
            font-family: "Chango", sans-serif;
            background-color: #e9ead8;
            border: none;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
            color: #333;
            border-radius: 10px;
            padding: 12px 24px;
            font-size: 16px;
            line-height: 16px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .header-navigation-button:hover{
            background-color: #b5c2b7; /* Change background color on hover */
            color: #111; /* Slightly darker text on hover */
        }
        a{  
            margin: 0 10px;
            width: max-content;
            font-size: 22px;
            text-decoration: none;
            transition: .25s ease-out;
        }
</style>