---
import { NavigationButton, LoginButton }  from "./index";
---

<div class="header-navigation-container">
    <NavigationButton
        link=""
        label="Option 1"
    />
    <NavigationButton
        link=""
        label="Option 2"
    />
    <NavigationButton
        link=""
        label="Option 3"
    />
    <LoginButton 
        link=""
        label="Login"
    />
</div>

<style>
    .header-navigation-container{
        height: 100%;
        grid-column: 4 / span 1;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #fef9e6;
    }
</style>