---
import Navigation from "./sections/Navigation.astro";
import ResumeButton from "./sections/ResumeButton.astro";
---

<div class="header-container">
    <div class="header-title-container">
        <h1 class="header-title-top">Tasteful</h1>
        <h1 class="header-title-bottom">Messages</h1>
    </div>
    <Navigation />
</div>

<style>
    .header-container{
        height: 10vh;
        display: grid;
        grid-template-columns: 30px 180px auto 500px 30px;
        grid-template-rows: 1fr;
        align-items: center;
        background-color: #fef9e6;
    }
    
    .header-title-container{
        grid-column: 2 / span 1;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fef9e6;
    }
    .header-title-top{
        font-family: "Indie Flower", cursive;
        letter-spacing: 2px;
        padding: 0 25px;
    }
    .header-title-bottom{
        font-family: "Indie Flower", cursive;
        letter-spacing: 1px;
        padding: 0 25px;
    }
</style>