---
import Navigation from "../header/sections/Navigation.astro";
import ResumeButton from "../header/sections/ResumeButton.astro";
---

<div class="header-container">
    <h1>Brayden Wachowiak</h1>
    <div class="mobile-menu-toggle">
    </div>
    <div class="header-render">
        <div class="header-render-placeholder">
            <h3>Placeholder</h3>
        </div>
    </div>
    <div class="header-nav-container">
        <Navigation />
        <ResumeButton />
    </div>
    <div class="header-socials">

    </div>
</div>

<style>
    h1{
        font-size: 1.7vw;
        justify-self: start;
        align-self: center;
    }

    .header-container{
        grid-area: 1;
    }


    @media(min-width: 1100px) {
        .header-container{
            display: grid;
            margin: 2vw 0 2vw 2vw;
            padding: 10px;
            border: 1px #a6a6a6 solid;
            border-right-style: none;
            border-bottom-style: none;
            grid-template-columns: 1fr;
            grid-template-rows: 50px 1fr 1fr 50px;
            grid-area: 
                "title"
                "render" 
                "nav"
                "socials";
            row-gap: 10px;
            background-color: #222222;
        }

        h1{
            grid-area: 1;
        }

        .header-render{
            grid-area: 2;
        }

        .header-render-placeholder{
            aspect-ratio: 1 / 1;
            width: 50%;
            padding: 25%;
            background-color: #a6a6a6;
        }

        .header-nav-container{
            grid-area: 3;
        }

        .header-socials{
            grid-area: 4;
        }

        .mobile-menu-toggle{
            display: none;
        }
    }

    @media (max-width: 1100px){
    }

</style>